@keyframes flicker{
    0% { opacity:1; }
    50% { opacity:.5; }
}

.flicker{
    animation: flicker 2s step-end infinite;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.level0 tbody tr td {
   background-color: #540; 
}
.level1 tbody tr td {
   background-color: #560; 
}
.level2 tbody tr td {
   background-color: #600; 
}
.level3 tbody tr td {
   background-color: #545; 
}


.n1 {
    background-image:url(../resources/aiga-stairs.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.n3 {
    background-image: url(../resources/aiga-stairs.png);
    transform: scaleX(-1);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.n4 {
    background-image: url(../resources/water-black.png);
    background-color: blue !important;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.n5 {
    background-image:url(../resources/grass.png);
    background-color: green !important;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.n6 {
    background-color: white !important;
}

.n8 {
    opacity: 0.0 !important;   
}
.n9 {
    color: #AA3311 !important;
}


.n10 {
    background-color: green !important;
}

.n11 {
    background-color: green !important;
}

.n13 {
    background-color: #585858 !important;
    background-image:url(../resources/rock2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.cr {
    background-image:none;
}

.item {
    background-image:none;
}

.sc {
    /*scale creature*/
    transform: scaleX(-1);
}
.scn {
    /*noscale creature*/
    transform: scaleX(1);
}

.c4{
    background-image:url(../resources/tower.png);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.c5 img.emoji{
    /*elephant*/
    height: 2.2em;
    width: 2.2em;
}
.c5 div{
    display: block;
    margin-left: 20%;
    max-width: 1em;
    height: 1em;
    overflow: visible;
}

.c10{
    /*player*/
    opacity: 0.7 !important;
}

.c12{
    /*addition*/
    background-image:url(../resources/addition2.png);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(1);
}

.c13{
    /*addition*/
    background-image:url(../resources/derivative2.png);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(1);
}

.c18{
    /*contradiction*/
    background-image:url(../resources/contradictionfilled.png);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.c19{
    /*contradiction*/
    background-image:url(../resources/connection.png);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.c21{
    /*synthesis*/
    background-image:url(../resources/synthesis.png);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.c22{
    /*induction*/
    background-image:url(../resources/induction.png);
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}



